[submodule "MyFirstEngine/Libs/Glfw/glfw"]
	path = MyFirstEngine/Libs/Glfw/glfw
	url = git@github.com:glfw/glfw.git
[submodule "MyFirstEngine/Libs/Glm/glm"]
	path = MyFirstEngine/Libs/Glm/glm
	url = git@github.com:g-truc/glm.git
[submodule "MyFirstEngine/Libs/Spdlog/spdlog"]
	path = MyFirstEngine/Libs/Spdlog/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "MyFirstEngine/Libs/ImGui/imgui"]
	path = MyFirstEngine/Libs/ImGui/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "MyFirstEngine/Libs/SPIRV-Reflect/SPIRV-Reflect"]
	path = MyFirstEngine/Libs/SPIRV-Reflect/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
